/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
	
    margin: 5px;
	background: #f5f5f5;
	color: #111111;
}

.todoapp {
    padding: 20px 5px 5px 20px;
    width: 700px;
    min-height: 400px;
    //margin: 0 auto;

    background: #fff;
	margin: 60px auto 60px auto;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.float-rigth {
    float: right;
 }
